* {
	box-sizing: border-box;
}

html,
body {
	/* background-color: black; */
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	color: springgreen;
	font-family: monospace;
	font-size: 26px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	background-color: rgba(0, 0, 0, 0.95);
	/* background-color: rgb(33, 33, 33); */
	/* linear-gradient(
			45deg,
			rgba(0, 0, 0, 0.9),
			rgba(0, 0, 0, 0.7)
		), */
	background-image: url('./assets/bg-pattern-dark.png');
	background-position-x: 100%;
	background-position-y: 0%;
	background-repeat: repeat;
	background-size: 510px;
	bottom: 0px;
}

.buttons {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

@media (min-width: 650px) {
	.buttons {
		flex-direction: row;
	}
}

button {
	position: relative;
	width: 120px;
	height: 80px;
	padding: 0;
	flex-shrink: 0;

	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	cursor: pointer;

	background-color: rgba(0, 0, 0, 0);

	border-radius: 10px;
	border: none;
	outline-style: none;
	box-shadow: 0 0 0px 2px #fb3ebc;

	font-size: 30px;
	flex-wrap: nowrap;

	transition: box-shadow 0.6s;

	color: inherit;
}

.button--new {
	width: 230px;
}

button span {
	display: flex;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 10;
}

button.button--new span {
	padding: 30px;
}

button div {
	display: flex;
	margin: 0;
	padding: 0;
	z-index: 5;
	width: 100%;
	height: 100%;

	background: linear-gradient(to right, #fb3ebc, #b51cca, #3226d6);

	transition: clip-path 0.6s ease;
	clip-path: circle(0% at 50% 50%);
}

button:hover,
button:focus-within {
	box-shadow: 0 0 40px 1px #fb3ebc;
}

button:hover div,
button:focus-within div {
	clip-path: circle(70.7% at 50% 50%);
}

table {
	border-spacing: 30px 0;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

@media (min-width: 550px) {
	.buttons {
		border-spacing: 50px 0;
		font-size: 20px;
	}
}

td {
	/* background-color: darkkhaki; */
	width: 260px;
	height: 24px;
	padding: 5px 10px;
	cursor: pointer;
	transition: background-color 0.3s ease, opacity 0.3s ease;
}

td:first-child {
	text-align: right;
}

td:nth-child(2) {
	text-align: left;
}

td:hover {
	background-color: #333;
}

@media (min-width: 550px) {
	td {
		min-width: 300px;
		height: 30px;
		padding: 10px 15px;
	}
}

.text-blinked {
	color: gold;
	animation: blink 0.9s linear infinite;
}

@keyframes blink {
	0% {
		opacity: 0.2;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.2;
	}
}

.text-hidden {
	opacity: 0;
	cursor: default;
	pointer-events: none;
}
